○ unsplash_krafi_wallpaper_generator.sh.service - Unsplash Wallpaper generator by Krafi.info
     Loaded: loaded (]8;;file://Nobara/etc/systemd/system/unsplash_krafi_wallpaper_generator.sh.service/etc/systemd/system/unsplash_krafi_wallpaper_generator.sh.service]8;;; [0;1;32menabled[0m; preset: [0;1;38;5;185mdisabled[0m)
     Active: inactive (dead) since Tue 2023-02-28 15:38:20 +06; 51s ago
   Duration: 1min 12.865s
    Process: 9718 ExecStart=/home/kar18/.local/bin/unsplash_krafi_wallpaper_generator.sh (code=exited, status=0/SUCCESS)
   Main PID: 9718 (code=exited, status=0/SUCCESS)
        CPU: 144ms

Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9746]:    250K .......... .......... ...                             100% 3.72M=0.2s
Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9746]: 2023-02-28 15:37:20 (1.53 MB/s) - ‘/home/kar18/Pictures/Wallpapers@krafi.info/28-02-23-1677577037.jpg’ saved [279629/279629]
Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9718]: ==================================================================================================
Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9718]: ==================================================================================================
Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9718]: ==================================================================================================
Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9718]: ==========================================    Seoul    ==========================================
Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9718]: ==================================================================================================
Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9718]: ==================================================================================================
Feb 28 15:37:20 Nobara unsplash_krafi_wallpaper_generator.sh[9718]: ==================================================================================================
Feb 28 15:38:20 Nobara systemd[1]: unsplash_krafi_wallpaper_generator.sh.service: Deactivated successfully.
